<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <span> {{ eventDetail.name }}</span>
          <span>{{ eventDetail.owner }}</span>
          <span>{{ currentAccount }}</span>
        </div>
        {{ isOwner() }}

        <button type="button" (click)="cancelEvent()">
          Cancel
        </button>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <ul class="list-group col-12">
                <li class="list-group-item ">
                  <strong> from: </strong>
                  <span> {{ eventDetail.startDate }}</span>
                </li>
                <li class="list-group-item">
                  <strong>To</strong> <span> {{ eventDetail.endDate }}</span>
                </li>
                <li class="list-group-item">
                  <strong>Location</strong>
                  <span> {{ eventDetail.location }}</span>
                </li>
                <li class="list-group-item">
                  <strong>Ticket Price</strong>
                  <span> {{ eventDetail.ticketPrice }} </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="jumbotron mt-3">
            {{ eventDetail.description }}
          </div>

          <form [formGroup]="bookingForm" class="mt-5" (ngSubmit)="getTicket()">
            <div class="row">
              <input
                type="number"
                #quantity
                name="ticketQuantity"
                id="ticketQuantity"
                formControlName="quantity"
                class="form-control col-2"
                placeholder="Quantity"
                min="1"
                max="5"
              />

              <button
                (click)="getTicket()"
                href="#"
                type="submit"
                class="btn btn-success btn-lg "
                [disabled]="!quantity"
              >
                Get Ticket
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          Your Tickets
        </div>
        <div class="card-body">
          <p class="card-text"></p>
          <div
            class="alert alert-info"
            role="alert"
            *ngIf="!userTickets.length"
          >
            No Tickets Purchase For Event
          </div>
          <ul class="list-group container" *ngIf="userTickets.length">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let ticket of userTickets; let i = index; let last = last"
            >
              <qr-code [value]="generateCode()" [size]="150"></qr-code>

              <button
                (click)="getRefund(ticket)"
                class="badge badge-danger badge-pill"
              >
                Get Refund
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
