<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          {{ eventDetail.name }}
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ eventDetail.description }}
          </p>

          <div class="container">
            <div class="row">
              <div class="col-3">
                Start Date
              </div>
              <div class="col-3">
                {{ eventDetail.startDate }}
              </div>
              <div class="col-3">
                End date
              </div>
              <div class="col-3">{{ eventDetail.endDate }}</div>
              <div class="col-3">
                Location
              </div>
              <div class="col-3">
                {{ eventDetail.location }}
              </div>
              <div class="col-3">
                Ticket price
              </div>
              <div class="col-3">{{ eventDetail.ticketPrice }} Ether</div>
            </div>
          </div>

          <form [formGroup]="bookingForm" class="mt-5" (ngSubmit)="getTicket()">
            <div class="row">
              <input
                type="number"
                #quantity
                name="ticketQuantity"
                id="ticketQuantity"
                formControlName="quantity"
                class="form-control col-2"
                placeholder="Quantity"
                min="1"
                max="5"
              />

              <button
                (click)="getTicket()"
                href="#"
                class="btn btn-success col-10"
                [disabled]="!quantity"
              >
                Get Ticket
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          Your Tickets
        </div>
        <div class="card-body">
          <p class="card-text"></p>
          <div
            class="alert alert-info"
            role="alert"
            *ngIf="!userTickets.length"
          >
            No Tickets Purchase For Event
          </div>
          <ul class="list-group container" *ngIf="userTickets.length">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="
                let ticket of eventDetail.ticketId;
                let i = index;
                let last = last
              "
            >
              {{ ticket }}
              <button
                (click)="getRefund()"
                class="badge badge-danger badge-pill"
              >
                x
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
